:root {
    /* Colors */

    /* Primary */
    --c-dark-cyan: 	hsl(158, 36%, 37%);
    --c-cream: hsl(30, 38%, 92%);

    /* Neutral */
    --c-very-dark-blue: hsl(212, 21%, 14%);
    --c-dark-grayish-blue: hsl(228, 12%, 48%);
    --c-white: hsl(0, 0%, 100%);

    /* Typography */
    --f-paragraph: 14px;
    --f-montserrat: "Montserrat", sans-serif;
    --f-fraunces: 'Fraunces', serif;
}